* {
    padding: 0;
    margin: 0;
}

/* ul {
    font-size: 0;
} */

#navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-between;
    align-items: center; 
}

#navbar > div {
    margin: 10px;
    border: 1px solid red;
    width: 100px;
    height: 100px;
}

#navbar > div:nth-child(2) {
    height: 300px;
}

label span {
    color: red;
}