h2 {
    font-family: Georgia;
    color: darkorange;
}

p {
    font-size: 1,1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: chocolate;
    color: cornsilk;
    padding: 1em;
}